.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px;
    gap: 10px;
}

.about div {
    flex: 1;
}

#about-img {
    height: 400px;
}

.about #about-img{
    width:80%;
    height: auto;
    transform: scale(.8);
    opacity: 0;
    transition: transform .6s ease-in-out;
}

@media (max-width: 940px) {
    .about #about-img{
        width:100%;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        gap: 10px;
        text-align: center;
    }
    
}