:root {
  /* Primary Colors
  --primary-10: #726F6F;
  --primary-20: #605D5D;
  --primary-30: #4E4B4B;
  --primary-40: #3C3939;
  --primary-50: #2A2727;
  --primary-60: #161313;
  --primary-70: #141111;
  --primary-80: #121010;
  --primary-90: #100E0E;
  --primary-100: #0E0C0C;
 */
  --primary-10: #7b8b84;
--primary-20: #637471;
--primary-30: #4a5c5e;
--primary-40: #020303;
--primary-50: #192d39;
--primary-60: #011627;
--primary-70: #00141f;
--primary-80: #001118;
--primary-90: #000f12;
--primary-100: #000c0c;
--primary-110: #000906;
--primary-110: #000906;
--primary-120: #000003;


 /* Secondary Colors 
  --secondary-10: #FFDD9C;
  --secondary-20: #FFD085;
  --secondary-30: #FFC76E;
  --secondary-40: #FFBF57;
  --secondary-50: #FFB740;
  --secondary-60: #FF9E25;
  --secondary-70: #FF8E21;
  --secondary-80: #FF7D1D;
  --secondary-90: #FF6C19;
  --secondary-100: #FF5C15;
  

    
    --secondary-10: #B2F5EA;
 --secondary-20: #8DE9D9;
 --secondary-30: #68DCc9;
 --secondary-40: #43D0B9;
 --secondary-50: #1FC4A8;
 --secondary-60: #1AA78F;
 --secondary-70: #167A76;
 --secondary-80: #115D5D;
 --secondary-90: #0D403F;
 --secondary-100: #082322;

 

 */

 --secondary-10: #f0fdfb;
 --secondary-20: #d6f8f2;
 --secondary-30: #bdf3e8;
 --secondary-40: #a3eede;
 --secondary-50: #8ae9d5;
 --secondary-60: #71e3cb;
 --secondary-70: #58dec2;
 --secondary-80: #3fd9b8;
 --secondary-90: #26d3ae;
 --secondary-100: #0dcda4;
 --secondary-110: #00c79b;
 --secondary-120: #00bb91; /* Darker shade */
 --secondary-130: #00af87; /* Darker shade */
 --secondary-140: #00a37d; /* Darker shade */
 --secondary-150: #009774; /* Darker shade */
 --secondary-160: #008b6a; /* Darker shade */
 --secondary-170: #007f60; /* Darker shade */
 --secondary-180: #007356; /* Darker shade */
 --secondary-190: #00674c; /* Darker shade */
 --secondary-200: #005b42; /* Darker shade */
 
 
 
 


/* Accent Colors 
  
  --accent-10: #E9BBB6;
  --accent-20: #DDA09E;
  --accent-30: #D18486;
  --accent-40: #C5696E;
  --accent-50: #B94E56;
  --accent-60: #9B2F38;
  --accent-70: #892932;
  --accent-80: #77242C;
  --accent-90: #651F26;
  --accent-100: #531A20;

--accent-10: #B2D9EA;
--accent-20: #8BC7D9;
--accent-30: #66B5C9;
--accent-40: #4193B9;
--accent-50: #1F74A8;
--accent-60: #1A638F;
--accent-70: #154F76;
--accent-80: #103C5D;
--accent-90: #0C2A4F;
--accent-100: #081A32;
--accent-10: #B2F5EA;
--accent-20: #8DE9D9;
--accent-30: #68DCc9;
--accent-40: #43D0B9;
--accent-50: #1FC4A8;
--accent-60: #1AA78F;
--accent-70: #167A76;
--accent-80: #115D5D;
--accent-90: #0D403F;
--accent-100: #082322;




--accent-10: #FFDD9C;
--accent-20: #FFD085;
--accent-30: #FFC76E;
--accent-40: #FFBF57;
--accent-50: #FFB740;
--accent-60: #FF9E25;
--accent-70: #FF8E21;
--accent-80: #FF7D1D;
--accent-90: #FF6C19;
--accent-100: #FF5C15;
*/

--accent-10: #f1bc89;
--accent-20: #e9a96a;
--accent-30: #e1964c;
--accent-40: #d9832e;
--accent-50: #d17010;
--accent-60: #b95f04;
--accent-70: #a05404;
--accent-80: #874904;
--accent-90: #6e3e03;
--accent-100: #553302;





  /* Accent2 Colors */
  --accent2-10: #F4F4F6;
  --accent2-20: #F0F0EE;
  --accent2-30: #ECECE6;
  --accent2-40: #E8E8DE;
  --accent2-50: #E4E4D6;
  --accent2-60: #C8C8B9;
  --accent2-70: #B1B1A5;
  --accent2-80: #999990;
  --accent2-90: #82827B;
  --accent2-100: #6A6A66;

  /* Accent3 Colors */
  --accent3-10: #ADADAD;
  --accent3-20: #999999;
  --accent3-30: #858585;
  --accent3-40: #707070;
  --accent3-50: #5C5C5C;
  --accent3-60: #404040;
  --accent3-70: #393939;
  --accent3-80: #323232;
  --accent3-90: #2B2B2B;
  --accent3-100: #242424;
}