.footer {
    padding: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer a{
    color: var(--secondary-50);
}

.footer a:hover{
    color: var(--secondary-30);
}


